{% extends "base.html" %}


{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card sticky-bottom" style="width: 25rem;">
                <div class="card-body">
                    <h4 class="card-title">Добро пожаловать на лучший сайт для игры в танки!</h4>
                    <p class="card-text">Здесь собраны лучшие сервера Minecraft с модами и без, на которых может играть
                        каждый. Наша команда следит за порядком на серверах и каждый день добавляет новые возможности.
                        На наших MiniGames установлена уникальная система персонализации игрока: можно установить себе
                        шляпу, крылья, либо же питомца.</p>
                    <a href="/login" class="card-link">Вход</a>
                    <a href="/register" class="card-link">Регистрация</a>
                    <a href="#" class="card-link">Скачать лаунчер</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card sticky-bottom" style="width: 25rem;">
                <div class="card-body">
                    <h4 class="card-title">Добро пожаловать на лучший сайт для игры в танки!</h4>
                    <p class="card-text">Здесь собраны лучшие сервера Minecraft с модами и без, на которых может
                                играть
                                каждый. Наша команда следит за порядком на серверах и каждый день добавляет новые
                                возможности.
                                На наших MiniGames установлена уникальная система персонализации игрока: можно
                                установить себе
                                шляпу, крылья, либо же питомца.</p>
                    <a href="/login" class="card-link">Вход</a>
                    <a href="/register" class="card-link">Регистрация</a>
                    <a href="#" class="card-link">Скачать лаунчер</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}