{% extends "base.html" %}


{% block content %}
{% if current_user.is_authenticated %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        style="margin-left:1280px;">
    Пополнить баланс
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Выберите способ оплаты</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row gx-3 gy-2 align-items-center">
                    <div class="col-sm-3" style="width:200px;">
                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                        <select class="form-select" id="specificSizeSelect">
                            <option selected>Карточка</option>
                            <option value="1">QIWI</option>
                            <option value="2">Мобильный телефон</option>
                            <option value="3">Криптокошелёк</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<div id="carousel-tanks" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-tanks" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-tanks" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-tanks" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" slot="active">
            <img src="static/images/Blue_tank.png" style="margin-left:500px; margin-top:50px" class="d-block"
                 height="300" width="300"
                 alt="Blue_tank">
            <div class="carousel-caption top-0" style="margin-left:220px; margin-top:30px">
                <a type="button" class="btn btn-danger py-2 px-4" href="/equipment&Blue_tank.png">Купить</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/Yellow_tank.png" style="margin-left:500px; margin-top:50px" class="d-block"
                 height="300" width="300"
                 alt="Yellow_tank">
            <div class="carousel-caption top-0" style="margin-left:220px; margin-top:30px">
                <a type="button" class="btn btn-danger py-2 px-4" href="/equipment&Yellow_tank.png">Купить</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/images/Green_tank.png" style="margin-left:500px; margin-top:50px" class="d-block"
                 height="300" width="300"
                 alt="Green_tank">
            <div class="carousel-caption top-0" style="margin-left:220px; margin-top:30px">
                <a type="button" class="btn btn-danger py-2 px-4" href="/equipment&Green_tank.png">Купить</a>
            </div>
        </div>
    </div>
    <button style="margin-left:400px; margin-top:165px" class="carousel-control-prev" type="button"
            data-bs-target="#carousel-tanks" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button style="margin-right:400px; margin-top:165px" class="carousel-control-next" type="button"
            data-bs-target="#carousel-tanks" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

{% else %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card sticky-bottom"
                 style="width: 25rem; margin-top: 100px; margin-right:0px; margin-left: 100px">
                <div class="card-body">
                    <h4 class="card-title">Добро пожаловать В магазин, где вы сможете купить новые наборы
                        снаряжения</h4>
                    <p class="card-text">Здесь собраны лучшие наборы снаряжения, на которых может играть
                        каждый(но вначале нужно их приобрести). Наша команда следит за финансовым порядком.</p>
                    <h4 class="card-title">Похоже, что вы не авторизированы. Для перехода в магазин сначала нужно
                        авторизироваться</h4>
                    <a href="/login" class="card-link">Вход</a>
                    <a href="/register" class="card-link">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}